doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="style.css")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet")
        title GEDDIT REDDIT 
    body 
    #header 
        h1 Natural Wonders
        h3 A few fascinating natural wonders on our planet.
    #form     
        form(action="/wonders", method="POST")
            p Name and Location of Natural Wonder:
            input(type="text", name="place", size = 37, placeholder= "Example: Amazon River - South America")
            br
            p Description of Natural Wonder:
            textarea(cols="30", rows="10"  name="naturalwonder", placeholder= "Description")
            br
            p Enter image link below:
            input(type="text", name="imagelink", size = 37,placeholder= "Link to image")
            br
            br
            button(type="submit") Submit
        br
    #list 
        h1 Natural Wonders List
    br
    br
        //- h1 #{wonders}
    #card 
        each wonder in wonders
            #vote 
                h3=`${wonder.place}`
                p=` ${wonder.naturalwonder}`
                img(src=`${wonder.imagelink}`, alt="Natural Wonder Image")
                br
                button(onclick = "voteButton()" id= "vote-button") Votes for me: 0
                script(src= "vote.js") 
                //- p Likes: 
                //-     a(id="clicks") 0 
            br
    //-information is coming from the created item 'wonder' and coming from the things in the array